* {
    box-sizing: border-box;
}

html,body {
    color:black;
    margin:0px;
    padding:0px;
    height: 100%;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
}

.flex-container {
    display: flex;
    background-color:#2F4F4F;
    height: 100%;
    width:100%;
    flex-direction: column;
    justify-content: center;
}

.flex-container > .header {
    display: flex;
    flex-direction: column; 
}

.review {
    margin-top: 20px;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

h3, .choices {
    text-align: center;
}

#firstpara {
    margin:0 auto;
    text-align: center;
    line-height: 50px; 
}

.gamesection {
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#rock, #paper, #scissors {
    border:1px solid transparent;
    text-align: center;
    margin-left:90px;
    margin-top: 10px;
    cursor: pointer;
    width:100px;
}

 .computersection {   
    display: flex;
    flex-direction: column;
    text-align: center;
    height:260px;
    width:280px;
    border: 1px solid black;
}

.playersection {   
    display: flex;
    width:280px;
    flex-direction: column;
    text-align: center;
    height: 265px;
    border: 1px solid black;
}

.initialscore {
    display: flex;
    flex-direction: column;
    height: 260px;
    width:280px;
    border: 1px solid black;
}

.fixedscore {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
    text-align: center;
}

.scorebox {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    text-align: center;
}

#comment {
    margin: 0 auto;
    text-align: center;
    font-size:18px;
}

#box, #boxy {
    display: inline-block;
    width:60px;
    text-align: center;
    height: 30px;
    border: 1px solid black;
    color: white;
    background-color: black;
}

#compute {
    height: 100px;
    width: 150px;
    margin-top: 40px;
    margin-left: 60px;
}

#call {
    font-size:18px;
    color: maroon;
}

#backup {
    background-color: black;
    color:white;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}

#backup > a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width:70px;
    text-decoration: none;
    color:blue;
    background-color: white;
}


/* Media queries*/

@media screen and (max-width: 720px) {

    html,body {
       font-size: 14px;
    }

    .gamesection {
        justify-content: space-between;
        height: 380px;
    }

    #rock, #paper, #scissors{   
        margin: 0 auto;
        width:80px;
    }

    .playersection, .initialscore, .computersection {   
        width: 112px;
        height: 295px;
    }

    .fixedscore, .scorebox {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
    }

    #compute {
        height: 70px;
        width: 70px;
        margin-top: 20px;
        margin-left: 20px;
    }

    
   
}

