 
            * {
                box-sizing: border-box;
            }
            
            html,body {
                color:black;
                margin:0px;
                padding:0px;
                height: 100%;
                width:100%;
                font-family: 'Times New Roman', Times, serif;
            }
            
            .flex-container {
                display: flex;
                background-color:#2F4F4F;
                height: 100%;
                width:100%;
                flex-direction: column;
                justify-content: center;
            }
            
            .flex-container > .header {
                display: flex;
                flex-direction: column; 
            }
            
            h1 {
                margin: 0 auto;
                text-align: center;
            }
            
            h3, .verdict {
                text-align: center;
            }
            
            #task {
                margin:0 auto;
                text-align: center;
                line-height: 50px; 
            }
            
            .gamesection {
                height:300px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 50px;
            }
            
            #rock, #paper, #scissors {
                border:1px solid transparent;
                text-align: center;
                margin-left:90px;
                margin-top: 10px;
                cursor: pointer;
                width:100px;
            }
            
             .computersection {   
                display: flex;
                flex-direction: column;
                text-align: center;
                height:260px;
                width:280px;
                border: 1px solid black;
                background-color: #696969;
            }
            
            .playersection {   
                display: flex;
                width:280px;
                flex-direction: column;
                text-align: center;
                height: 265px;
                border: 1px solid black;
                background-color: #696969;
            }
            
            .scoreboard {
                display: flex;
                flex-direction: column;
                height: 260px;
                width:280px;
                border: 1px solid black;
                background-color: #696969;
            }
            
            .topscore {
                margin-top: 40px;
                margin-left: 20px;
                font-size: 20px;
                text-align: center;
            }
            
            .bottomscore {
                margin-top: 30px;
                margin-left: 20px;
                font-size: 20px;
                text-align: center;
            }
            
            #comment {
                margin: 0 auto;
                text-align: center;
                font-size:18px;
            }
            
            #box_one, #box_two {
                display: inline-block;
                width:60px;
                text-align: center;
                height: 30px;
                border: 1px solid black;
                color: white;
                background-color: black;
            }
            
            #device {
                height: 100px;
                width: 150px;
                margin-top: 40px;
                margin-left: 70px;
            }
            
            #call {
                font-size:18px;
                color: maroon;
            }
            
            #reload {
                background-color: black;
                color:white;
                margin: 0 auto;
                display: none;
                cursor: pointer;
            }
            
            #reload > a {
                display: inline-block;
                height: 30px;
                line-height: 30px;
                text-align: center;
                width:70px;
                text-decoration: none;
                color:blue;
                background-color: white;
            }
            
            
            /* Media queries*/
            
            @media screen and (max-width: 720px) {
            
                html,body {
                   font-size: 14px;
                }
            
                .gamesection {
                    justify-content: space-between;
                    height: 380px;
                }
            
                #rock, #paper, #scissors{   
                    margin: 0 auto;
                    width:80px;
                }
            
                .playersection, .scoreboard, .computersection {   
                    width: 112px;
                    height: 295px;
                }
            
                .topscore, .bottomscore {
                    font-size: 20px;
                    margin-top: 20px;
                    margin-left: 0px;
                    text-align: center;
                }
            
                #device {
                    height: 70px;
                    width: 70px;
                    margin-top: 20px;
                    margin-left: 20px;
                }   
            
            }
            
            